<%- include("../../partials/driver/header.ejs")%>
    <div class="container my-5">
        <div class="pb-3">
            <div class="row mx-2 pb-2 mb-5 border-bottom">
                <div class="col-4 my-auto">
                    <h1 class="display-6 lead">Driver Roster</h1>
                </div>
                <div class="col-4 text-end  d-inline my-auto">
                    <a href="/api/random/load" class="btn btn-danger">Generate Random Driver</a>
                    <a class="btn btn-primary" href="/app/<%=selectedCompany._id%>/driver/new">Add Driver</a>
                </div>
                <div class="col-4 text-end my-auto">
                    <div class="input-group" id="loadSearch">
                        <span class="input-group-text bg-light">Search By:</span>
                        <select class="form-select" aria-label="Search Options">
                            <option selected value="broker">First Name</option>
                            <option value="rate">Last Name</option>
                            <option value="driver">Phone Number</option>
                            <option value="pickup">Truck Number</option>
                            <option value="delivery">Trailer Number</option>
                        </select>
                        <input type="text" id="searchInput" class="form-control" placeholder="Search Here">
                        <span class="input-group-text bg-ligh" id="searchRemove">X</span>

                    </div>
                </div>
            </div>
            <% for(let driver of selectedCompany.driver){ %> 
                <div class="row border m-2 loadItem p-4 text-center mb-3">
                    <div class="col-3 my-auto">
                        <a href="/app/<%= selectedCompany._id%>/driver/<%=driver.id._id%>" class="link-primary mb-0"><i class="fas fa-user"></i> <%= driver.id.firstName%>  <%= driver.id.lastName  %> </a>
                    </div>
                    <div class="col-2 my-auto"><%= driver.id.mobile%>  </div>
                    <div class="col-2 my-auto"><%= driver.id.email%> </div>
                    <div class="col-2 my-auto"> <span class="badge rounded-pill bg-success px-3">Active</span></div>
                    <div class="col-3 my-auto"> 
                        <a class="btn btn-outline-danger" href="/app/<%= selectedCompany._id%>/driver/<%=driver.id._id%>">More Info</a>
                    </div>
                </div>
            <% } %> 
        </div>
    </div>

    <%- include("../../partials/driver/footer.ejs")%>