<%- include("../../partials/load-map/header.ejs")%>
  <div class="bg-light border border-end-0 border-start-0 mb-3">
    <div class="container py-2 text-end">
      <form action="" class="d-inline">
        <button type="submit" class="btn btn-success">Generate Invoice</button>
      </form>
      <form action="" class="d-inline">
        <button type="submit" class="btn btn-warning">Edit</button>
      </form>
      <form action="" class="d-inline">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <span class="d-none brokerId"><%=selectedLoad.id%></span>

  <div class="container">
    <div class="row">
      <div class="col-4 p-0">
        <div class="accordion" id="accordionLoadDetails">
          <div class="accordion-item">
            <h2 class="accordion-header" id="LoadDetails">
              <button class="accordion-button bg-light fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#LoadDetailsOne" aria-expanded="true" aria-controls="collapseOne">
                Load Details
              </button>
            </h2>
            <div id="LoadDetailsOne" class="accordion-collapse collapse show" aria-labelledby="LoadDetails">
              <div class="accordion-body p-0">
                <div class="row p-3">
                  <div class="col-12 fs-6">
                    <i class="fas fa-map-marker-alt text-success"></i> <span class="text-muted">Origin</span>
                  </div>
                  <div class="col-12 fs-5">
                    <%= selectedLoad.stop[0].pickup.city %>, <%= selectedLoad.stop[0].pickup.state %> 
                  </div>
                </div>
                <div class="row pt-2 p-3">

                  <div class="col-12 fs-6">
                    <i class="fas fa-map-marker-alt text-danger"></i> <span class="text-muted">Destination</span>
                  </div>
                  <div class="col-12 fs-5">
                    <%= selectedLoad.stop[selectedLoad.stop.length-1].delivery.city %>, <%= selectedLoad.stop[selectedLoad.stop.length-1].delivery.state %> 
                  </div>

                </div>
                <ul class="list-group">
                  <!-- Load Milage -->
                  <li class="list-group-item border-start-0 border-end-0 rounded-0">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Miles:</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0">
                          <%=selectedLoad.miles%> (estimated)
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Pickup Date -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Pickup Date:</p>
                      </div>
                      <div class="col-8 my-auto">
                        <p class="mb-0">
                          <%=selectedLoad.dates.pickup%>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Delivery Date -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Delivery Date:</p>
                      </div>
                      <div class="col-8 my-auto">
                        <p class="mb-0 ">
                          <%=selectedLoad.dates.delivery%>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Broker Details -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Broker:</p>
                      </div>
                      <div class="col-8 my-auto">
                        <p class="mb-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <%=selectedLoad.broker.id.name%>  <i class="fa fa-info-circle fs-6 text-primary ms-1" aria-hidden="true"></i>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Load ID -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Load ID:</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0">
                          <%=selectedLoad.loadID%>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Load PO -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Load PO:</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0">
                          <%=selectedLoad.loadPO%>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Load Rate -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Rate:</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0">$<%=selectedLoad.rate%>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Load Commodity -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Commodity:</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0">
                          <%=selectedLoad.commodity%>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Load Type -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Load Type:</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0">
                          <%=selectedLoad.type%>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Load Weight -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Weight:</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0">
                          <%=selectedLoad.weight%> lbs
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Load Driver -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-4">
                        <p class="m-0 fw-bold">Driver:</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0">
                          <%=selectedLoad.driver%>
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Load Notes -->
                  <li class="list-group-item border-start-0 border-end-0 ">
                    <div class="row">
                      <div class="col-12">
                        <div class="fw-bold mb-2">
                          Notes
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="card col-notes">
                          <span class="p-2">
                            <%=selectedLoad.notes%>
                          </span>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="LoadStatus">
              <button class="accordion-button bg-light fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#LoadDetailsTwo" aria-expanded="true" aria-controls="collapseTwo">
                Load Status
              </button>
            </h2>
            <div id="LoadDetailsTwo" class="accordion-collapse collapse show" aria-labelledby="LoadStatus">
              <div class="accordion-body p-0">
                <ul class="list-group">
                  <!-- Mark Completed -->
                  <li class="list-group-item border-start-0 border-end-0 rounded-0 py-3">
                    <div class="row">
                      <div class="col-6 my-auto align-middle">
                        <h4 class="fw-bold my-auto">
                          Completed
                        </h4>
                      </div>
                      <div class="col-6 my-auto align-middle">
                        <i class="far fa-times-circle link-danger fs-1"></i>
                      </div>
                    </div>
                  </li>
                  <!-- Invoice Completed -->
                  <li class="list-group-item border-start-0 border-end-0 py-3">
                    <div class="row">
                      <div class="col-6 my-auto align-middle">
                        <h4 class="fw-bold my-auto">
                          Invoice Sent:
                        </h4>
                      </div>
                      <div class="col-6 my-auto align-middle">
                        <i class="far fa-times-circle link-danger fs-1"></i>
                      </div>
                    </div>
                  </li>
                  <!-- Bol Completed -->
                  <li class="list-group-item border-start-0 border-end-0 py-3">
                    <div class="row">
                      <div class="col-6 my-auto align-middle">
                        <h4 class="fw-bold my-auto">
                          Bols Obtained:
                        </h4>
                      </div>
                      <div class="col-6 my-auto align-middle">
                        <i class="far fa-times-circle link-danger fs-1"></i>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 p-0">
        <div class="accordion" id="accordionMapDetails">
          <div class="accordion-item">
            <h2 class="accordion-header" id="MapDetails">
              <button class="accordion-button bg-light fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#MapDetailsOne" aria-expanded="true" aria-controls="collapseOne">
                Map View
              </button>
            </h2>
            <div id="MapDetailsOne" class="accordion-collapse collapse show" aria-labelledby="MapDetails">
              <div class="accordion-body p-0">


                <div id='map'></div>

              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="InternalNotes">
              <button class="accordion-button bg-light fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#MapDetailsTwo" aria-expanded="true" aria-controls="collapseTwo">
                Internal Notes
              </button>
            </h2>
            <div id="MapDetailsTwo" class="accordion-collapse collapse show" aria-labelledby="InternalNotes">
              <div class="accordion-body p-0">

                <!-- Insert New Code here -->
                <ul id="internalNotes" class="list-group border-0">
                  <li class="list-group-item px-5 ">
                    <p class="load">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quod ut sapiente eligendi, labore reprehenderit.
                    </p>
                    <div>
                      <p class="fw-bold d-inline fs-6">
                        Username
                      </p>
                      <p class="text-muted lead fs-6">
                        10/11/2021 2:28PM
                      </p>
                    </div>
                  </li>
                  <li class="list-group-item px-5 ">
                    <p class="load">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quod ut sapiente eligendi, labore reprehenderit.
                    </p>
                    <div>
                      <p class="fw-bold d-inline fs-6">
                        Username
                      </p>
                      <p class="text-muted lead fs-6">
                        10/11/2021 2:28PM
                      </p>
                    </div>
                  </li>
                  <li class="list-group-item px-5 ">
                    <p class="load">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quod ut sapiente eligendi, labore reprehenderit.
                    </p>
                    <div>
                      <p class="fw-bold d-inline fs-6">
                        Username
                      </p>
                      <p class="text-muted lead fs-6">
                        10/11/2021 2:28PM
                      </p>
                    </div>
                  </li>
                  <li class="list-group-item px-5 ">
                    <p class="load">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quod ut sapiente eligendi, labore reprehenderit.
                    </p>
                    <div>
                      <p class="fw-bold d-inline fs-6">
                        Username
                      </p>
                      <p class="text-muted lead fs-6">
                        10/11/2021 2:28PM
                      </p>
                    </div>
                  </li>
                </ul>
                <div class="bg-light px-5 py-4">
                  <h5 class="fw-bold mb-3">Leave a Comment</h5>
                  <form action="">
                    <textarea name="" id="" rows="5" class="form-control"></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                  </form>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel">Broker Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- Broker Name -->
          <div class="row mb-3">
            <div class="col-4">
              <p class="m-0 fw-bold">Name:</p>
            </div>
            <div class="col-8">
              <p class="mb-0">
                <%=selectedLoad.broker.id.name%>
              </p>
            </div>
          </div>
          <!-- Broker MC -->
          <div class="row mb-3">
            <div class="col-4">
              <p class="m-0 fw-bold">MC:</p>
            </div>
            <div class="col-8">
              <p class="mb-0">
                <%=selectedLoad.broker.id.mc%>
              </p>
            </div>
          </div>
          <!-- Broker DOT -->
          <div class="row mb-3">
            <div class="col-4">
              <p class="m-0 fw-bold">DOT:</p>
            </div>
            <div class="col-8">
              <p class="mb-0">
                <%=selectedLoad.broker.id.dot%>
              </p>
            </div>
          </div>
          <!-- Broker Email -->
          <div class="row mb-3">
            <div class="col-4">
              <p class="m-0 fw-bold">Email:</p>
            </div>
            <div class="col-8">
              <p class="mb-0">
                <%=selectedLoad.broker.id.email%>
              </p>
            </div>
          </div>
          <!-- Broker Toll Free -->
          <div class="row mb-3">
            <div class="col-4">
              <p class="m-0 fw-bold">Toll Free:</p>
            </div>
            <div class="col-8">
              <p class="mb-0">
                <%=selectedLoad.broker.id.tollFree%>
              </p>
            </div>
          </div>
          <!-- Broker Mobile -->
          <div class="row mb-3">
            <div class="col-4">
              <p class="m-0 fw-bold">Mobile:</p>
            </div>
            <div class="col-8">
              <p class="mb-0">
                <%=selectedLoad.broker.id.mobile%>
              </p>
            </div>
          </div>
          <!-- Broker Fax -->
          <div class="row mb-3">
            <div class="col-4">
              <p class="m-0 fw-bold">Fax:</p>
            </div>
            <div class="col-8">
              <p class="mb-0">
                <%=selectedLoad.broker.id.fax%>
              </p>
            </div>
          </div>
          <!-- Broker Website -->
          <div class="row mb-3">
            <div class="col-4">
              <p class="m-0 fw-bold">Website:</p>
            </div>
            <div class="col-8">
              <p class="mb-0">
                <%=selectedLoad.broker.id.website%>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <%- include("../../partials/load-map/footer.ejs")%>